$primaryColor: #8BC34A !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

//highlight
$highlightBg:#FFEB3B !default;
$highlightTextColor:#000000 !default;
@import '../sass/theme/_theme';