.layout-dashboard {
    .statistics {
        overflow: auto;
        h5 {
            margin-top: 0;
        }
    }
    .global-sales {
        .ui-datatable {
            th {
                border: 0 none;
                text-align: left;
            }

            tr {
                border: 0 none;

                td {
                    border: 0 none;
                }

                &.ui-state-highlight,
                &.ui-state-hover {
                    border: 0 none;
                }
            }

            .ui-paginator {
                border: 0 none;
            }

            button:last-child {
                margin-left: 6px;
            }
        }
    }
}
